---
import Hero from "@/components/Hero.astro";
import Hobbies from "@/components/Hobbies.astro";
import JourneyTimeline from "@/components/Journey.astro";
import ProjectsBento from "@/components/ProjectsBento";
import Section from "@/components/Section.astro";
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import MySkills from "@/components/MySkills";

const projects = await getCollection("projects");
const MySkillsData = await getCollection("skills");
const test = await getCollection("test");
const renderedTest = await test[0].render();
console.log(renderedTest.headings[0]);
---

<BaseLayout>
	<main class="grid grid-cols-mainLayout pb-8">
		<Hero />
		<Section title="My Projects">
			<ProjectsBento client:load myProjects={projects} />
		</Section>
		<Section title="My skills">
			<MySkills client:visible skillLifeCycle={MySkillsData} />
		</Section>
		<Section title="My Journey">
			<JourneyTimeline />
		</Section>
		<Section title="My Hobbies">
			<Hobbies />
		</Section>
	</main>
</BaseLayout>
