---
import Hero from "@/components/Hero.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "@/components/Section.astro";
import ProjectsBento from "@/components/ProjectsBento";
import { getCollection } from "astro:content";
import JourneyTimeline from "@/components/Journey.astro";

const projects = await getCollection("projects");
---

<BaseLayout>
	<main class="grid grid-cols-mainLayout pb-8">
		<Hero />
		<Section title="Projects">
			<ProjectsBento myProjects={projects} client:load />
		</Section>
		<Section title="My Journey">
			<JourneyTimeline />
		</Section>
	</main>
</BaseLayout>
