---
import Hero from "@/components/Hero.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "@/components/Section.astro";
import ProjectsBento from "@/components/ProjectsBento";
---

<BaseLayout>
	<main class="grid grid-cols-mainLayout">
		<Hero />
		<Section title="Projects">
			<ProjectsBento client:load />
		</Section>
	</main>
</BaseLayout>
