---
import Hero from "@/components/Hero.astro";
import Hobbies from "@/components/Hobbies.astro";
import JourneyTimeline from "@/components/Journey.astro";
import MySkills from "@/components/MySkills";
import ProjectsBento from "@/components/ProjectsBento";
import Section from "@/components/Section.astro";
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

const projects = await getCollection("projects");
const MySkillsData = await getCollection("skills");
---

<BaseLayout>
	<main class="grid grid-cols-mainLayout pb-8">
		<Hero />
		<Section title="Proyectos">
			<ProjectsBento client:load 
				myProjects={projects.filter(({data})=> data.bento_area)} 
			/>
		</Section>
		<Section title="Habilidades">
			<MySkills client:load skillLifeCycle={MySkillsData} />
		</Section>
		<!-- <Section title="Trayectoria">
			<JourneyTimeline />
		</Section> -->
		<Section title="Hobbies">
			<Hobbies />
		</Section>
	</main>
</BaseLayout>
