---
import { Icon } from "astro-icon/components";
import { Button } from "../components/ui/button";
import Image from "astro/components/Image.astro";

const contactMeItems = [
	{
		label: "go to Linkedin",
		href: "https://www.linkedin.com/in/andres-cs/",
		icon: "entypo-social:linkedin-with-circle",
	},
	{
		label: "go to Github",
		href: "https://github.com/andrescasa-dev",
		icon: "bi:github",
	},
	{
		label: "copy my email",
		icon: "email",
	},
];
---

<section class="min-h-screen flex flex-col justify-center">
	<div class="h-[47%] flex flex-col justify-start">
		<Image
			class="mt-auto -z-10 md:block"
			src="/portrait.png"
			width={631}
			height={656}
			alt="A portrait of Andrés Castellanos"
		/>
	</div>
	<div
		class="self-start flex flex-col justify-center gap-3 md:gap-6 bg-background"
	>
		<h1 class="text-5xl md:text-8xl font-bold text-center">
			I&apos;m <strong class="text-accent">Andrés</strong> Castellanos
		</h1>
		<p class="hidden md:block md:text-2xl text-center">
			Driven by growth, I develop cutting-edge and appealing websites
		</p>
		<div class="grid grid-cols-1 gap-2 md:grid-cols-2 md:gap-4">
			<ul id="contact-me" class="flex gap-2 justify-self-center md:-order-1">
				{
					contactMeItems.map(({ icon, label, href }) => {
						const Wrapper = href ? "a" : "button";
						return (
							<li>
								<Wrapper aria-label={label} href={href}>
									<Icon
										class="w-8 h-8 md:w-10 md:h-10"
										aria-hidden="true"
										name={icon}
									/>
								</Wrapper>
							</li>
						);
					})
				}
			</ul>
			<ul
				id="extra-info"
				class="flex flex-col gap-1 items-center md:-order-2 text-xs"
			>
				<li class="flex items-center" aria-label="Living in Cúcuta, Colombia">
					<Icon
						aria-hidden="true"
						name="mdi:location"
						class="h-4 w-4 md:h-6 md:w-6"
					/>
					Cúcuta, Colombia
				</li>
				<li
					class="flex items-center"
					aria-label="I speak Native Spanish, English B2"
				>
					<Icon
						aria-hidden="true"
						name="mdi:language"
						class="h-4 w-4 md:h-6 md:w-6"
					/>
					Native Spanish, English B2
				</li>
			</ul>
			<Button className="justify-self-stretch">
				Down Load CV
				<Icon
					aria-hidden="true"
					class="h-4 w-4 ml-2"
					name="mdi:file-document"
				/>
			</Button>
			<Button className="justify-self-stretch" variant={"secondary"}>
				View Projects
				<Icon
					aria-hidden="true"
					class="h-4 w-4 ml-2"
					name="mdi:keyboard-arrow-right"
				/>
			</Button>
		</div>
		<p class="text-xs md:text-sm flex justify-center items-center gap-1.5">
			<span>Full time</span>
			<span class="text-[10px] md:text-sm">or</span>
			<span>Freelance</span>
		</p>
	</div>
</section>
