---
import { cn } from "@/lib/utils";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import portrait from "../assets/hero/portrait.png";
import { Button, buttonVariants } from "../components/ui/button";
import Email from "./icons/Email";

const contactMeItems = [];
---

<section class="min-h-screen flex flex-col justify-center lg:gap-x-10 gap-4">
	<div class="flex flex-col lg:flex-row justify-between items-center">
		<Image
			class="lg:order-1"
			src={portrait}
			loading={"eager"}
			widths={[176, 300, portrait.width]}
			sizes={`(max-width: 320px) 176px, (max-width: 1001px) 300px, ${portrait.width}px`}
			alt="A portrait of Andrés Castellanos"
		/>
		<div
			class="flex flex-col justify-center gap-3 md:gap-6 lg:gap-5 bg-background w-full items-stretch md:items-center lg:items-start"
		>
			<h1
				class="text-4xl md:text-6xl lg:text-[80px] font-bold max-w-[10ch] text-center lg:text-left self-center lg:self-start"
			>
				Soy <span class="text-accent">Andrés</span> Castellanos
			</h1>
			<h2
				class="font-medium text-accent text-xl md:text-3xl lg:text-4xl text-center lg:text-left -mt-4"
			>
				Frontend Developer
			</h2>
			<div
				class="grid gap-2 grid-cols-[auto_auto] xs:grid-cols-2 lg:w-max md:gap-4 lg:justify-items-start"
			>
				<p
					class="flex items-center gap-2 text-sm xs:text-lg lg:m-0"
					aria-label="Living in Cúcuta, Colombia"
				>
					<Icon
						aria-hidden="true"
						name="mdi:location"
						class="h-4 w-4 md:h-6 md:w-6 text-text-color"
					/>
					Cúcuta, Colombia
				</p>
				<p
					class="flex items-center gap-2 text-sm xs:text-lg lg:m-0"
					aria-label="I speak Native Spanish, English B2"
				>
					<Icon
						aria-hidden="true"
						name="mdi:language"
						class="h-4 w-4 md:h-6 md:w-6 text-text-color"
					/>
					Inglés B2
				</p>
				<a
					href="https://jumpshare.com/v/7Q7EIiHYBaR473OvgySK"
					target="_blank"
					class={cn(
						buttonVariants({ variant: "default" }),
						"h-11 py-3 px-7 text-lg max-xs:col-span-2",
					)}
				>
					Hoja de Vida
					<Icon aria-hidden="true" class="ml-2" name="mdi:file-document" />
				</a>
				<a
					href="#projects"
					class={cn(
						buttonVariants({ variant: "outline" }),
						"h-11 py-3 px-7 text-lg max-xs:col-span-2",
					)}
				>
					Ver Proyectos
					<Icon
						aria-hidden="true"
						class="ml-2 text-accent group-hover:text-primary-foreground h-6 w-6"
						name="mdi:keyboard-arrow-right"
					/>
				</a>
			</div>
		</div>
	</div>
	<div class="flex flex-col gap-2 items-center">
		<ul id="contact-me" class="flex gap-2 justify-self-center">
			<li>
				<a
					aria-label="go to Linkedin"
					href="https://www.linkedin.com/in/andres-cs/"
					target="_blank"
				>
					<Icon
						class="w-8 h-8 md:w-10 md:h-10 text-text-color hover:text-text-color/80"
						aria-hidden="true"
						name="entypo-social:linkedin-with-circle"
					/>
				</a>
			</li>
			<li>
				<a
					aria-label="go to Github"
					href="https://github.com/andrescasa-dev"
					target="_blank"
				>
					<Icon
						class="w-8 h-8 md:w-10 md:h-10 text-text-color hover:text-text-color/80"
						aria-hidden="true"
						name="bi:github"
					/>
				</a>
			</li>
			<li>
				<button aria-label={"copy email"} id="emailButton">
					<Email
						className="w-8 h-8 md:w-10 md:h-10 text-text-color hover:text-text-color/80"
						aria-hidden="true"
					/>
				</button>
			</li>
		</ul>
		<Icon
			aria-hidden="true"
			class="h-10 w-10 rotate-90 text-accent"
			name="mdi:keyboard-arrow-right"
		/>
	</div>
</section>
<script>
	import { toast } from "sonner";
	document
		.getElementById("emailButton")
		?.addEventListener("click", async (e) => {
			try {
				await navigator.clipboard.writeText("andres.about@gmail.com");
				toast.success("Email Copiado: andres.about@gmail.com");
			} catch (error) {
				toast.error("No se pudo copiar mi Email");
			}
		});
</script>
