---
import { getImage } from "astro:assets";
import { getCollection } from "astro:content";

const hobbies = await getCollection("hobbies");
const importImagesObj = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/hobbies/*.{png,jpg,webp,avif}",
);
---

<div class="flex gap-4 flex-wrap">
  {
    await Promise.all(
      hobbies.map(async (hobbie) => {
        const { bgImage, title, href } = hobbie.data;
        const backgroundImage = await getImage({
          src: importImagesObj[bgImage](),
          width: 720,
          format: "avif",
        });
        const { Content } = await hobbie.render();

        return (
          <a href={href} target="_blank" class="flex-grow">
            <article
              style={`background-image: linear-gradient(0deg, rgba(0,0,0,0.60) 0%, rgba(0,0,0,0.60) 100%), url('${backgroundImage.src}')`}
              class={`px-4 py-9 rounded-sm h-[16em] flex flex-col justify-end article-background bg-cover bg-center bg-no-repeat`}
            >
              <header>
                <h1 class="title">{title}</h1>
              </header>
              <section class="mt-2 content base">
                <Content />
              </section>
            </article>
          </a>
        );
      }),
    )
  }
</div>
