---
import { cn } from "@/lib/utils";
import { getCollection } from "astro:content";
import JourneyItem from "./JourneyItem.astro";
import Circle from "./JourneyTimelineCircle.astro";

// period = {title, highlight[], banner[]}
// entryPeriod = {id:filename, data:period}
// periods = entryPeriod[]
const periodsCollection = await getCollection("journeyPeriods");
const onePeriosEntry = periodsCollection[0]
// transform and arr [period, period, period] into the following structure: [[period,period], [period]]
// grouping the periods into grops of max two, (min one if there is no more periods to complete the final group)
type PeriodEntryT = typeof periodsCollection[0]
type AccumReduce = [PeriodEntryT, PeriodEntryT?][] | []

const periodsGroup = periodsCollection.reduce<[PeriodEntryT, PeriodEntryT?][] | []>((periodEntryGroupArray, _, i, arr) => {
  if (i % 2) {
    // periodEntryGroupArray:  [[entry,entry], [entry,entry]] 
    // accum: [[entry,entry], [entry,entry], [newE, newE]]
    // []
    return [...periodEntryGroupArray, [arr[i - 1], arr[i]]];
  } else if (i === arr.length - 1 && arr.length % 2 !== 0) {
    return [...periodEntryGroupArray, [arr[i]]];
  } else {
    return periodEntryGroupArray;
  }
}, []);
---

<div class="relative">
  {
    periodsGroup.map((current, i) => {
      const [period1, period2] = current
      return(
      <div
        class={cn(
          "grid grid-rows-[repeat(3,_minmax(200px,_auto))] md:grid-rows-[repeat(2,_minmax(200px,_auto))] gap-y-8 sm:gap-y-0 md:grid-cols-timelineLayout sm:max-md:px-16",
          { "grid-rows-[repeat(4,_minmax(200px,_auto))]": i === 0 },
        )}
      >
        <Circle class={cn("md:col-start-2", { "max-md:hidden": i !== 0 })} />
        <JourneyItem
          journeyPeriod={period1}
          class="md:col-start-3"
          bannerRight={i % 2 === 0}
        />
        {period2 && (
          <JourneyItem
            journeyPeriod={period2}
            class="md:row-start-2 mt-2 md:mt-0"
            bannerRight={i % 2 === 0}
          />
          <Circle class="md:row-start-2" />
        )}
      </div>
    )})
  }
  <div
    id="line"
    class="absolute w-px bg-border top-0 bottom-0 right-1/2 -z-10"
    aria-hidden="true"
  ></div>
</div>
