---
import { cn } from "@/lib/utils";
---

<div
  class={cn("w-full h-full grid justify-center relative", Astro.props.class)}
>
  <div
    id="circle"
    class="absolute w-4 h-4 bg-background border border-accent rounded-full top-[50%] md:top-[35%] left-1/2 origin-center -translate-x-1/2 max-md:-translate-y-1/2"
  >
  </div>
</div>
