---
import { cn } from "@/lib/utils";
import { getCollection } from "astro:content";
import JourneyItem from "./JourneyItem.astro";
import Circle from "./JourneyTimelineCircle.astro";

const periods = await getCollection("journeyPeriods");

// transform and arr into the following structure: [[period,period]...]
const periodsGroup = periods.reduce<
  Array<[(typeof periods)[0], (typeof periods)[0]] | [(typeof periods)[0]]>
>((chunks, _, i, arr) => {
  if (i % 2) {
    return [...chunks, [arr[i - 1], arr[i]]];
  } else if (i === arr.length - 1 && arr.length % 2 !== 0) {
    return [...chunks, [arr[i]]];
  } else {
    return chunks;
  }
}, []);
---

<div class="relative">
  {
    periodsGroup.map(([period1, period2], i, arr) => (
      <div
        class={cn(
          "grid grid-rows-3 md:grid-rows-2 lg:gap-y-0 md:grid-cols-timelineLayout sm:max-md:px-16",
          { "grid-rows-4": i === 0 },
        )}
      >
        <Circle class={cn("md:col-start-2", { "max-md:hidden": i !== 0 })} />
        <JourneyItem
          journeyPeriod={period1}
          class="md:col-start-3"
          bannerRight={i % 2 === 0}
        />
        {period2 && (
          <JourneyItem
            journeyPeriod={period2}
            class="md:row-start-2 mt-2 md:mt-0"
            bannerRight={i % 2 === 0}
          />
          <Circle class="md:row-start-2" />
        )}
        
      </div>
    ))
  }
  <div
    id="line"
    class="absolute w-px bg-border top-0 bottom-0 right-1/2 -z-10"
    aria-hidden="true"
  >
  </div>
</div>
