---
import { Image } from "astro:assets";
import { cn } from "@/lib/utils";
import type { CollectionEntry } from "astro:content";
interface Props {
  bannerRight?: true | false;
  journeyPeriod: CollectionEntry<"journeyPeriods">;
}

const { journeyPeriod, bannerRight } = Astro.props;
const importAssetObj = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{png,jpg,avif,webp}",
);
---

<div
  class={cn(
    "flex xs:flex-col sm:flex-col md:flex-row p-2 border border-border gap-3 rounded-sm w-fit h-fit flex-shrink-0",
    { "xs:-order-1 md:order-1": bannerRight },
    { "self-end xs:self-auto": bannerRight },
  )}
>
  {
    journeyPeriod.data.banners.map(({ alt, src }, i) => {
      const importAsset = importAssetObj[src];
      if (!importAsset) console.error("not such an image, src:", src);
      return (
        <>
          {i !== 0 && (
            <div aria-hidden="true" class="w-px h-[90%] bg-border rounded-lg" />
          )}
          <div class="overflow-clip h-14 w-14">
            {importAsset && (
              <Image
                src={importAsset()}
                alt={alt}
                width={168}
                format="avif"
                quality={"max"}
                height={168}
                class={"w-full h-full object-cover"}
              />
            )}
          </div>
        </>
      );
    })
  }
</div>
