---
import { cn } from "@/lib/utils";
import type { CollectionEntry } from "astro:content";
import JourneyCard from "./JourneyCard";
import JourneyItemBanner from "./JourneyItemBanner.astro";

interface Props {
  class?: string;
  bannerRight?: true | false;
  journeyPeriod: CollectionEntry<"journeyPeriods">;
}

const { bannerRight, journeyPeriod } = Astro.props;

const { Content } = await journeyPeriod.render();
---

<div
  class={cn("flex flex-col xs:flex-row md:flex-col gap-2", Astro.props.class)}
>
  <JourneyCard journeyPeriod={journeyPeriod} client:load>
    <Content />
  </JourneyCard>
  <JourneyItemBanner journeyPeriod={journeyPeriod} bannerRight={bannerRight} />
</div>
