---
import { cn } from "@/lib/utils";
interface Props {
  class?: string;
  half?: "below" | "above" | false;
}

const { half } = Astro.props;
---

<div
  class={cn("w-full h-full grid justify-center relative", Astro.props.class, {
    "items-end": half === "below",
  })}
>
  <div
    id="line"
    class={cn("w-px bg-border h-full", {
      "h-1/2 md:h-[35%]": half === "above",
      "h-1/2 md:h-[65%]": half === "below",
    })}
    aria-hidden="true"
  >
  </div>
  <div
    id="circle"
    class="w-4 h-4 bg-background border border-accent rounded-full absolute top-[50%] md:top-[35%] left-1/2 origin-center -translate-x-1/2 max-md:-translate-y-1/2"
  >
  </div>
</div>
