---
import "@/styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
	</head>
	<body>
		<slot />
		<script>
			// Add “loaded” class once the document has completely loaded.
			addEventListener("load", () =>
				document.documentElement.classList.add("loaded"),
			);
		</script>
	</body>
</html>
