<html lang="en">
	<head> </head>
	<body>
		<div>
			<!-- nav -->
			<slot />
			<!-- footer -->
			<div>Basic footer</div>
		</div>
		<script>
			// Add “loaded” class once the document has completely loaded.
			addEventListener("load", () =>
				document.documentElement.classList.add("loaded"),
			);
		</script>
	</body>
</html>
